.search {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 80px 1fr;
}

.search nav {
    grid-column: 1 / -1;
}

.search .kweets {
    border-left: 1px solid var(--color-primary);
}