body {
    margin: 100px;
    color: var(--color-tint);
    /* background-color: var(--color-primary); */
    display: flex;
    justify-content: center;
}

.panel {
    width: 600px;
    padding: 40px;
    border: 1px solid var(--color-tint);
    border-radius: 8px;
    text-align: center;
}

.panel:hover {
    box-shadow: 4px 4px #f2f2f2;
}

h1 {
    margin-top: 0;
    color: var(--color-tint);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin-bottom: 10px !important;
}

button {
    margin-top: 10px !important;
}
