.kweets__header {
    height: 80px;
    padding: 20px;
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
}

.kweets__header__post-kweet {
    margin: 0 0 0 auto;
}

.kweets__header a {
    margin-right: 40px;
}

.kweets__heading { color: var(--color-primary); }

.kweets__heading.active { color: black; }

.kweets__heading.active:hover { text-decoration: none; cursor: default; }