.kweets__heading {
    height: 80px;
    padding: 20px;
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
}

.kweets__heading__post-kweet {
    margin: 0 0 0 auto;
}

.kweets__heading a {
    margin-right: 40px;
}