.login {
    --color-tint: var(--color-primary);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__content {
    margin-bottom: 100px;
    padding: 40px 200px;
    border: 2px solid var(--color-tint);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login__content h1 { margin-top: 0; color: var(--color-tint); }