.login {
    --color-tint: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__content {
    margin-bottom: 100px;
    padding: 40px 200px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 10px 4px var(--color-disabled);
}

.login__content h1 { margin-top: 0; color: var(--color-tint); }

.login__content__register-link:hover {
    color: var(--color-tint);
}

.login__content__button {
    color: var(--color-tint);
    border-color: var(--color-tint);
}

.login__content__button:hover {
    color: var(--color-primary);
    background-color: var(--color-tint);
}