.profile-details {
    width: 100%;
    padding: 30px 40px 40px;
    background-color: var(--color-primary-light);
}

.profile-details__picture {
    padding: 20px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-details__picture img {
    max-width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.profile__details__info__username {
    padding: 10px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__details__info__follow {
    margin: 0;
}

.profile__details__info__bio,
.profile__details__info__location,
.profile__details__info__website {
    padding: 10px 4px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}